@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.8vh;
  font-weight: 300;
  color: #303133;
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
span {
  font-weight: 200;
}
strong {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
h3 {
  line-height: 0px;
}
button {
  font-weight: 600;
  font-size: 1.6vh;
}
.slider-control-centerleft, .slider-control-centerright {
  display: none;
}
